
div.scroll {
    max-height: 316px;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttonrow{
    padding-bottom: 20px;    
}

.projectHeader{
    margin:0px;
    /* float: left; */
}

.description{
    margin: 3px 0px 0px 20px;
}

.inactive{
    filter:opacity(30%) grayscale(100%);
   
}

.foreground{

    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    font-size: 18px;

}

.background{
    width: 100%;
    height: auto;
    /* opacity: 0.3; */
}

.addCardContainer{
    position: relative;
    display: inline-block;
}

.branchWorkspaceContainer{
    display: inline-block;
}