apiVersion: v1
kind: Service
metadata:
  name: s3-provider
  namespace: balsam-system
spec:
  type: {{ .Values.s3Provider.service.type }}
  selector:
    app: minio-s3-provider
  ports:
    - protocol: TCP
      port: {{ .Values.s3Provider.service.port }}
      targetPort: {{ .Values.s3Provider.containerPort }}