apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.s3Provider.secret.name | indent 2 }}
  namespace: balsam-system
type: Opaque
data:
  API__ACCESSKEY: {{ .Values.s3Provider.secret.data.API__ACCESSKEY | b64enc }}
  API__SECRETKEY: {{ .Values.s3Provider.secret.data.API__SECRETKEY | b64enc }}